body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
	background-image: url("travel.jpg");
    color:black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background: #000000;
    padding: 15px 40px;
	margin:auto;
}

header h1 {
    font-size: 28px;
    color: #FFFF00;
	float:left;
	
}
h1{
	margin:0px 34px;
	padding:0px;
	
}
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffdd00;
}

.container {
    text-align: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    width: 70%;
    border-radius: 12px;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

div.mycontainer {
  width:100%;
  overflow:auto;
  color:#000000;
}
div.mycontainer div {
  width:25%;  
  float:left;
  color:#000000;
}

form {
      background-color: white;
      width: 320px;
      margin: 80px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 8px gray;
    }
	input, select {
      width: 90%;
      padding: 8px;
      margin: 8px 0;
    }
	input[type=submit] {
      background-color: #008cba;
      color: white;
      border: none;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color:#005f73;
    }
    a {
      color: #008cba;
      text-decoration: none;
    }

nav a i {
  margin-right: 6px;
  color: white;   /* 🔥 makes icons white */
}